@import 'utils/variables';
@import 'components/type';


// fonts
.shrikhand-regular {
    font-family: "Shrikhand", serif;
    font-weight: 400;
    font-style: normal;
}

.sriracha-regular {
    font-family: "Sriracha", cursive;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-family: "Shrikhand", serif;
    font-size: clamp(2.625rem, 3.462vw + 1.846rem, 6rem);
    margin: 0;
    line-height: 100%;
}

/* provient de copilot pour que le texte ne se mette pas sur une ligne lors de l'animation */
h1 span {
    display: block !important;
}
/* fin */

#souris {
    width: 2px;
    height: 19px;
    background-color: #000;
}

h2 {
    margin: 0;
    font-family: "Shrikhand", serif;
    font-size: clamp(2.25rem, 1.795vw + 1.846rem, 4rem);
}

.h2 {
    border: #DF8600 dashed 2px;
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}

.h2 .svg__DF {
    fill: var(--color-text);
    margin-bottom: 8px;
}

.h2 .svg__CS {
    stroke: var(--color-text);
    margin-bottom: 8px;
}

#caseStudy .h2 {
    margin-top: 120px;
}

h3 {
    font-family: "Sriracha", cursive;
    font-size: clamp(2rem, 0.513vw + 1.885rem, 2.5rem);
}

h4{
    font-family: "Sriracha", cursive;
    font-size: clamp(1.75rem, 0.513vw + 1.635rem, 2.25rem);
}

p, li, button, .credits, code {
    font-family: "Sriracha", cursive;
    font-size: clamp(1rem, 0.128vw + 0.971rem, 1.125rem);
}

.editor {
    font-family: "Sriracha", cursive;
    font-size: clamp(0.875rem, 0.256vw + 0.817rem, 1.125rem);
}

html {
    scroll-behavior: smooth;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#bonjour, #caseStudy, #designFiction {
    padding-top: 70px;
    margin: -70px 23px 0;
}

.bonjour__img {
    margin-top: 70px;
    border-radius: 20px;
}

.bonjour__h3 {
    color: var(--color-h3);
}

.separateurs2 {
    position: absolute;
    left: 0;
    right: 0;
    background-image: url(../assets/images/separateur2.webp);
    background-repeat: no-repeat;
    width: 100%;
    height: 126px;
    z-index: 5;
}

// Side Nav
.invisible {
    display: none;
}

.sideNav {
    background-color: var(--color-secondary);
    width: fit-content;
    margin: 0;
    padding: 20px 20px 18px;
    border-radius: 50px;
    position: fixed;
    right: 23px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    opacity: 0;
}

.sideNav__elements {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.sideNav__li {
    list-style: none;
    text-decoration: none;
}

.sideNav__li:hover {
    color: var(--color-secondary);
}

.sideNav__li svg {
    width: 25px;
    cursor: pointer;
}
  
// Dark Mode
:root{
    --color-bg: #FFF4C8;
    --color-text: #000;
    --color-primary: #005866;
    --color-secondary: #FFB038;
    --color-thirdly: #C6E6F8;
    --color-h3: rgba(0, 0, 0, 0.5);
    --color-background: #FFF4C8;
}

@media (prefers-color-scheme: dark){
    :root{
        --color-offset: #FFF;
        --color-text: #FFF;
        --color-primary: #005866;
        --color-secondary: #995e05;
        --color-thirdly: #7393A5;
        --color-h3: rgba(255, 255, 255, 0.5);
        --color-background: #181818;
    }  
}

[data-theme="light"]{
    --color-bg: #FFF4C8;
    --color-text: #000;
    --color-primary: #005866;
    --color-secondary: #FFB038;
    --color-thirdly: #C6E6F8;
    --color-h3: rgba(0, 0, 0, 0.5);
    --color-background: #FFF4C8;
}
[data-theme="dark"]{
    --color-offset: #FFF;
    --color-text: #FFF;
    --color-primary: #005866;
    --color-secondary: #995e05;
    --color-thirdly: #7393A5;
    --color-h3: rgba(255, 255, 255, 0.5);
    --color-background: #181818;
}

body{
    line-height: 1.4;
    color: var(--color-text);
    background-color: var(--color-background);
    margin: 0;
    padding: 0;
}

.h2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 23px;
}

// nav
.menu {
    display: flex;
    width: 80%;
    background-color: var(--color-primary);
    border-radius: 40px;
    position: fixed;
    z-index: 30;
    height: 70px;
    top: 10px;
    left: 10%;
    align-items: center;
}

.menu a {
    display: flex;
    z-index: 20;
    margin-left: 23px;
    cursor: pointer;
}

.menu__img {
    height: 36px;
    width: auto;
    margin: 0;
}

.menu__btn {
    background-color: transparent;
    border: none;
    color: var(--color-bg);
    font-size: 18px;
    cursor: pointer;
    position: absolute;
    right: 23px;
    padding: 0;
    z-index: 20;
    transition: all .3s;
}

.menu__btn:hover {
    color: var(--color-secondary);
}

.menuDark {
    flex-direction: column;
    background-color: #005866;
    list-style: none;
    padding: 0;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(100%);
    transition: transform .3s ease-out;
    align-items: start;
    z-index: 10;
    padding-top: 80px;
}

.menu__liste {
    margin: 0;
}


.switch {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 0;
    align-items: center;
    gap: 10px;
    margin-left: 63px;
}

.menu__li {
    color: var(--color-bg);
    list-style-type: none;
    margin: 54px 0;
}

.menu__a {
    text-decoration: none;
    color: var(--color-bg);
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    background-color: transparent;
    border: none;
    transition: all .3s;
}

.menu__a:hover, .menu__a.active {
    color: var(--color-secondary);
}

.menu--open .menuDark {
    transform: translateX(0);
}
/* // pas trouver de solution qui fonctionne //
// texte défile//
.defiletext {
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    z-index: 20;
    width: 100%;
}

.defiletext__inner {
    display: flex;
    white-space: nowrap;
    animation: textdefile 10s linear infinite;
    gap: 8px;
}

@keyframes textdefile { 
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}*/

// image defile, code repris de Janus
.defile {
    width: fit-content;
}

.defiletext {
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    z-index: 20;
    width: 100%;
    transform: rotate(-2deg);
    height: fit-content;
    align-self: center;
    justify-self: center;
    height: 100px;
}

.defiletext__inner {
    display: flex;
    white-space: nowrap;
    animation: textdefile 10s linear infinite;
    gap: 8px;
    height: 50px;
    width: 100%;
}

@keyframes textdefile { 
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

// fin code repris de Janus

.separateur1 {
    position: absolute;
    z-index: 1;
    height: 100px;
    margin: 0;
    padding: 0;
}

.separateurText {
    height: fit-content;
    margin: 0;
    padding: 0;
    width: 99%;
}

footer {
    background-color: var(--color-secondary);
    background-image: url(../assets/images/footer.webp);
    background-repeat: no-repeat;
    width: 100%;
    height: 376px;
    z-index: 10;
    margin: 0;
    color: var(--color-offset);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.footer__elements {
    margin: 0 23px;
}

.backToTop {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    transform: rotate(-90deg);
    padding: 1px 5px 0 5px;
    border-radius: 100%;
    border: none;
    background-color: var(--color-secondary);
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    width: 40px;
    height: 40px;
    margin-top: 60px;
    margin-right: 23px;
    justify-self: end;
    transition: all .3s;
    cursor: pointer;
}

.contact {
    padding-top: 20px;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    margin-left: 23px;
}

.sociaux {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: end;
}

.socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    grid-column: 2 / 3;
    grid-row: 1 / -1;
    margin-top: 20px;
    margin-right: 23px;
}

.socials__img {
    width: 25px;
    transition: all .2s;
}

.editor {
    grid-column: 1 / -1;
    margin: 0 23px 23px 0;
    justify-self: end;
    align-self: end;
    height: fit-content;
}

.credits {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin-left: 23px;
    color: var(--color-offset);
    text-decoration: none;
    align-self: center;
    transition: all .3s;
    width: fit-content;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.credits:hover, .contact__p:hover {
    color: var(--color-secondary);
}

.credits__section {
    display: none;
    position: absolute;
    background-color: var(--color-thirdly);
    margin: 0 4%;
    padding: 1px 23px;
    border-radius: 20px;
    border: none;
    box-shadow: var(--color-text);
    top: 14px;
    bottom: 14px;
    z-index: 1000;
    max-height: 100vh;
    overflow: scroll;
}

.credits__section--active {
    display: block;
}

.close {
    background-color: var(--color-secondary);
    border: none;
    margin-top: 23px;
    border-radius: 10px;
    transition: all .3s;
    cursor: pointer;
}

.close:hover {
    background-color: var(--color-primary);
    color: var(--color-bg);
}

/* code de https://stackoverflow.com/questions/29280817/is-there-any-way-to-colorize-a-white-png-image-with-css-only */

.socials__img:hover {
    filter: brightness(76.5%) sepia(100) saturate(100);
}

/* fin code copier*/

.contact__p {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--color-offset);
    text-decoration: none;
    width: fit-content;
    transition: all .3s;
    margin-bottom: 30px;
}

// slider

// code repris de https://codepen.io/cortez/pen/jOrNGGQ
// modification pour bon affichage
    
.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #2b2b2b;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

// fin code repris de https://codepen.io/cortez/pen/jOrNGGQ

.switch__p {
    color: var(--color-bg);
}

.banniere {
    position: relative;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //margin-top: 180px;
}

.banniere__text {
    width: 100%;
    z-index: 5;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.orange {
    background-color: var(--color-secondary);
    padding: 3px;
    width: 80%;
}

#goeiedag {
    position: absolute;
    font-size: clamp(5rem, 12.821vw + 2.115rem, 17.5rem);
    margin: 0;
    padding: 0;
    z-index: 1;
    color: rgba(0, 88, 102, 0.10);
    text-align: center;
    width: fit-content;
}

span {
    display: block;
    margin: 12px 0;
    margin-bottom: 27px;
}

img {
    width: 100%;
}

#caseStudy {
    display: flex;
    flex-direction: column;
    gap: 23px;
    align-items: center;
}

/* code de telegram par t.me/mzcode01 modification pour aller avec mon code */
.wrapper{
    background-color: transparent;
    perspective: 1000px;
    cursor: pointer;
}
.card{
    width: 314px;
    height: 625px;
    transform-style: preserve-3d;
    transition: transform .3s ease-in-out;
    cursor: pointer;
    border: 1px solid #ccc;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2),
    -5px -5px 10px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
}

.wrapper:hover .card{
    transform: rotateY(180deg);
}
.front-page__RUX, .front-page__dataPlay,
.back-page__RUX, .back-page__dataPlay{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 15px;
}
.front-page__RUX, .front-page__dataPlay{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.front-page__RUX {
    background-color: var(--color-thirdly);
}

.front-page__dataPlay {
    background-color: var(--color-primary);
}

.card-info__RUX, .card-info__dataPlay{
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.card-info__RUX {
    color: var(--color-text);
}

.card-info__dataPlay {
    color: var(--color-offset);
}

.back-page__RUX, .back-page__dataPlay {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
}

.back-page__RUX {
    color: var(--color-text);
    background-color: var(--color-thirdly);
}

.back-page__dataPlay {
    color: var(--color-offset);
    background-color: var(--color-primary);
}

.card-content{
    text-align: center;
    padding: 23px;
}

.card__img {
    width: 90%;
}

.card__title {
    margin: 0;
    margin-bottom: 44px;
}

.card__p {
    width: 100%;
}

/* fin code de telegram */

.caseStudy__blocs {
    display: flex;
    flex-direction: column;
    gap: 23px;
    margin-bottom: 50px;
}

.button__savoirPlus {
    background-color: var(--color-secondary);
    border-radius: 70px;
    width: fit-content;
    border: none;
    padding: 14px;
    transition: all .3s;
    cursor: pointer;
}

.button__savoirPlus:hover, .button__savoirPlusFiction:hover, .backToTop:hover {
    background-color: var(--color-text);
    color: var(--color-bg);
}

.button__savoirPlusFiction {
    background-color: var(--color-thirdly);
    border-radius: 70px;
    width: fit-content;
    border: none;
    padding: 14px;
    transition: all .3s;
    cursor: pointer;
}

#designFiction {
    flex: 1;
    background-color: var(--color-secondary);
    margin: 0;
    padding: 23px;
    z-index: 5;
}

.designFiction__text {
    margin: 50px 0;
}

/* VERSION TABLETTE */
@media (min-width: 780px) {
    .sideNav {
        opacity: 1;
    }

    p, code {
        width: 440px;
    }

    img {
        width: 60%;
    }

    .dataPlay, .RUX {
        width: 500px;
        align-self: center;
    }

    #caseStudy .h2 {
        margin-top: 150px;
    }

    .separateur1 {
        width: 100%;
    }
}

/* VERSION PC/DESKTOP */
@media (min-width: 1250px) and (max-width: 1920px) {
    .card {
        width: 486px;
        height: 496px;
    }
    .menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .menu__btn {
        display: none;
    }

    .menuDark {
        display: flex;
        flex-direction: row;
        align-items: center;
        transform: translateY(0);
        position: static;
        height: 100%;
        padding: 0;
        background-color: transparent;
        gap: 40px;
        justify-content: space-between;
    }

    .menu__liste {
        display: flex;
        flex-direction: row;
    }

    .switch {
        display: flex;
        flex-direction: row;
        align-items: center;
        transform: translateX(0);
        width: auto;
        padding: 0;
        margin: 0 23px 0 0;
    }

    .switch__p {
        width: fit-content;
    }

    .orange {
        padding: 5px;
        width: fit-content;
    }

    footer {
        background-size: 100% 100%;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .backToTop {
        margin-top: 100px;
        grid-column: 4 / 5;
        grid-row: 1 / 2;
    }

    .credits {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }

    .separateurs2 {
        background-size: 100% 100%;
        margin-top: -60px;
        grid-column: 1 / 3;
        grid-row: 3 / 4;
    }

    .defiletext {
        transform: rotate(-1deg);
        width: 99.9%;
    }

    .separateurText {
        width: 100%;
    }

    #bonjour {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 0;
        padding: 0;
        position: relative;
        top: -20px;
    }

    .bonjour__img {
        border-radius: 0;
        width: 100%;
        grid-column: 1 / 2;
        grid-row: 1 / 3;
        margin-top: 0;
        justify-self: center;
    }

    .bonjour__h3 {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        height: fit-content;
        align-self: end;
        margin-left: 6%;
    }

    .bonjour__p {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        margin-left: 6%;
        width: 500px;
    }

    #caseStudy .h2 {
        margin-top: 160px;
    }

    .caseStudy__blocs {
        flex-direction: row;
        margin-bottom: 106px;
    }

    .dataPlay, .RUX {
        width: 492px;
        align-self: flex-start;
        height: 100%;
    }

    img {
        width: 100%;
    }

    .dataPlay .button__savoirPlus {
        margin-top: 150px;
    }

    #designFiction {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 1.7fr;
    }
    
    #designFiction img {
        width: 552px;
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        margin-left: 12px;
    }

    #designFiction .h2 {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        height: fit-content;
        margin-top: 0;
        margin-bottom: 78px;
    }

    .designFiction__text {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        margin: 0;
        align-self: start;
        justify-self: end;
        margin-right: 12px;
    }
    .designFiction__text p {
        margin-top: 0;
    }
} 
