@import 'utils/variables';
@import 'components/type';


// fonts
.shrikhand-regular {
    font-family: "Shrikhand", serif;
    font-weight: 400;
    font-style: normal;
}

.sriracha-regular {
    font-family: "Sriracha", cursive;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-family: "Shrikhand", serif;
    font-size: clamp(2.625rem, 3.462vw + 1.846rem, 6rem);
    margin: 0;
    line-height: 100%;
}

h2 {
    margin: 0;
    font-family: "Shrikhand", serif;
    font-size: clamp(2.25rem, 1.795vw + 1.846rem, 4rem);
}

.h2 {
    border: #DF8600 dashed 2px;
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}

.h2 .svg__DF {
    fill: var(--color-text);
    margin-bottom: 8px;
}

.h2 .svg__CS {
    stroke: var(--color-text);
    margin-bottom: 8px;
}

#caseStudy .h2 {
    margin-top: 120px;
}

h3 {
    font-family: "Sriracha", cursive;
    font-size: clamp(2rem, 0.513vw + 1.885rem, 2.5rem);
}

h4{
    font-family: "Sriracha", cursive;
    font-size: clamp(1.75rem, 0.513vw + 1.635rem, 2.25rem);
}

p, li, button, .credits, code {
    font-family: "Sriracha", cursive;
    font-size: clamp(1rem, 0.128vw + 0.971rem, 1.125rem);
}

.editor {
    font-family: "Sriracha", cursive;
    font-size: clamp(0.875rem, 0.256vw + 0.817rem, 1.125rem);
}

html {
    scroll-behavior: smooth;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#bonjour, #caseStudy, #designFiction {
    padding-top: 70px;
    margin: -70px 23px 0;
}

.bonjour__img {
    margin-top: 70px;
    border-radius: 20px;
}

.bonjour__h3 {
    color: var(--color-h3);
}

.separateurs2 {
    position: absolute;
    left: 0;
    right: 0;
    background-image: url(../assets/images/separateur2.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 126px;
    z-index: 5;
}

// Side Nav
.invisible {
    display: none;
}

.sideNav {
    background-color: var(--color-secondary);
    width: fit-content;
    margin: 0;
    padding: 20px 20px 18px;
    border-radius: 50px;
    position: fixed;
    right: 23px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
}

.sideNav__elements {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.sideNav__li {
    list-style: none;
    text-decoration: none;
}

.sideNav__li:hover {
    color: var(--color-secondary);
}

.sideNav__li svg {
    width: 25px;
    cursor: pointer;
}
  
// Dark Mode
:root{
    --color-bg: #FFF4C8;
    --color-text: #000;
    --color-primary: #005866;
    --color-secondary: #FFB038;
    --color-thirdly: #C6E6F8;
    --color-h3: rgba(0, 0, 0, 0.5);
    --color-background: #FFF4C8;
}

@media (prefers-color-scheme: dark){
    :root{
        --color-offset: #FFF;
        --color-text: #FFF;
        --color-primary: #005866;
        --color-secondary: #995e05;
        --color-thirdly: #7393A5;
        --color-h3: rgba(255, 255, 255, 0.5);
        --color-background: #181818;
    }  
}

[data-theme="light"]{
    --color-bg: #FFF4C8;
    --color-text: #000;
    --color-primary: #005866;
    --color-secondary: #FFB038;
    --color-thirdly: #C6E6F8;
    --color-h3: rgba(0, 0, 0, 0.5);
    --color-background: #FFF4C8;
}
[data-theme="dark"]{
    --color-offset: #FFF;
    --color-text: #FFF;
    --color-primary: #005866;
    --color-secondary: #995e05;
    --color-thirdly: #7393A5;
    --color-h3: rgba(255, 255, 255, 0.5);
    --color-background: #181818;
}

body{
    line-height: 1.4;
    color: var(--color-text);
    background-color: var(--color-background);
    margin: 0;
    padding: 0;
}

.h2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 23px;
}

// nav
.menu {
    display: flex;
    width: 80%;
    background-color: var(--color-primary);
    border-radius: 40px;
    position: fixed;
    z-index: 30;
    height: 70px;
    top: 10px;
    left: 10%;
    align-items: center;
}

.menu a {
    display: flex;
    z-index: 20;
    margin-left: 23px;
    cursor: pointer;
}

.menu__img {
    height: 36px;
    width: auto;
    margin: 0;
}

.menu__btn {
    background-color: transparent;
    border: none;
    color: var(--color-bg);
    font-size: 18px;
    cursor: pointer;
    position: absolute;
    right: 23px;
    padding: 0;
    z-index: 20;
    transition: all .3s;
}

.menu__btn:hover {
    color: var(--color-secondary);
}

.menuDark {
    flex-direction: column;
    background-color: #005866;
    list-style: none;
    padding: 0;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(100%);
    transition: transform .3s ease-out;
    align-items: start;
    z-index: 10;
    padding-top: 80px;
}

.menu__liste {
    margin: 0;
}


.switch {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 0;
    align-items: center;
    gap: 10px;
    margin-left: 63px;
}

.menu__li {
    color: var(--color-bg);
    list-style-type: none;
    margin: 54px 0;
}

.menu__a {
    text-decoration: none;
    color: var(--color-bg);
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    background-color: transparent;
    border: none;
    transition: all .3s;
}

.menu__a:hover, .menu__a.active {
    color: var(--color-secondary);
}

.menu--open .menuDark {
    transform: translateX(0);
}
/* // pas trouver de solution qui fonctionne //
// texte défile//
.defiletext {
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    z-index: 20;
    width: 100%;
}

.defiletext__inner {
    display: flex;
    white-space: nowrap;
    animation: textdefile 10s linear infinite;
    gap: 8px;
}

@keyframes textdefile { 
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}*/

// image defile, code repris de Janus
.defile {
    width: fit-content;
}

.defiletext {
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    z-index: 20;
    width: 100%;
    transform: rotate(-2deg);
    height: fit-content;
    align-self: center;
    justify-self: center;
    height: 100px;
}

.defiletext__inner {
    display: flex;
    white-space: nowrap;
    animation: textdefile 10s linear infinite;
    gap: 8px;
    height: 50px;
    width: 100%;
}

@keyframes textdefile { 
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

// fin code repris de Janus

.separateur1 {
    position: absolute;
    z-index: 1;
    height: 100px;
    margin: 0;
    padding: 0;
}

.separateurText {
    height: fit-content;
    margin: 0;
    padding: 0;
    width: 99%;
}

footer {
    background-color: var(--color-secondary);
    background-image: url(../assets/images/footer.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 376px;
    z-index: 10;
    margin: 0;
    color: var(--color-offset);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.footer__elements {
    margin: 0 23px;
}

.backToTop {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    transform: rotate(-90deg);
    padding: 1px 5px 0 5px;
    border-radius: 100%;
    border: none;
    background-color: var(--color-secondary);
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    width: 40px;
    height: 40px;
    margin-top: 60px;
    margin-right: 23px;
    justify-self: end;
    transition: all .3s;
    cursor: pointer;
}

.contact {
    padding-top: 20px;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    margin-left: 23px;
}

.sociaux {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: end;
}

.socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    grid-column: 2 / 3;
    grid-row: 1 / -1;
    margin-top: 20px;
    margin-right: 23px;
}

.socials__img {
    width: 25px;
    transition: all .2s;
}

.editor {
    grid-column: 1 / -1;
    margin: 0 23px 23px 0;
    justify-self: end;
    align-self: end;
    height: fit-content;
}

.credits {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin-left: 23px;
    color: var(--color-offset);
    text-decoration: none;
    align-self: center;
    transition: all .3s;
    width: fit-content;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.credits:hover, .contact__p:hover {
    color: var(--color-secondary);
}

.credits__section {
    display: none;
    position: absolute;
    background-color: var(--color-thirdly);
    margin: 0 4%;
    padding: 1px 23px;
    border-radius: 20px;
    border: none;
    box-shadow: var(--color-text);
    top: 14px;
    bottom: 14px;
    z-index: 1000;
    max-height: 100vh;
    overflow: scroll;
}

.credits__section--active {
    display: block;
}

.close {
    background-color: transparent;
    border: none;
    margin-top: 23px;
    border-radius: 10px;
    transition: all .3s;
    cursor: pointer;
}

.close:hover {
    background-color: var(--color-primary);
    color: var(--color-bg);
}

/* code de https://stackoverflow.com/questions/29280817/is-there-any-way-to-colorize-a-white-png-image-with-css-only */

.socials__img:hover {
    filter: brightness(76.5%) sepia(100) saturate(100);
}

/* fin code copier*/

.contact__p {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--color-offset);
    text-decoration: none;
    width: fit-content;
    transition: all .3s;
    margin-bottom: 30px;
}

// slider

// code repris de https://codepen.io/cortez/pen/jOrNGGQ
// modification pour bon affichage
    
.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #2b2b2b;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

// fin code repris de https://codepen.io/cortez/pen/jOrNGGQ

.switch__p {
    color: var(--color-bg);
}

.banniere {
    position: relative;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    //margin-top: 180px;
}

.banniere__text {
    width: 100%;
    z-index: 5;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.orange {
    background-color: var(--color-secondary);
    padding: 3px;
    width: 80%;
}

#goeiedag {
    position: absolute;
    font-size: clamp(5rem, 12.821vw + 2.115rem, 17.5rem);
    margin: 0;
    padding: 0;
    z-index: 1;
    color: rgba(0, 88, 102, 0.10);
    text-align: center;
    width: fit-content;
}

span {
    display: block;
    margin: 12px 0;
    margin-bottom: 27px;
}

img {
    width: 100%;
}

#caseStudy {
    display: flex;
    flex-direction: column;
    gap: 23px;
    align-items: center;
}

/* code de telegram par t.me/mzcode01 modification pour aller avec mon code */
.wrapper{
    background-color: transparent;
    width: 486px;
    height: 496px;
    perspective: 1000px;
    cursor: pointer;
}
.card{
    width: 314px;
    height: 625px;
    transform-style: preserve-3d;
    transition: transform .3s ease-in-out;
    cursor: pointer;
    border: 1px solid #ccc;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2),
    -5px -5px 10px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
}

.wrapper:hover .card{
    transform: rotateY(180deg);
}
.front-page__RUX, .front-page__dataPlay,
.back-page__RUX, .back-page__dataPlay{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 15px;
}
.front-page__RUX, .front-page__dataPlay{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.front-page__RUX {
    background-color: var(--color-thirdly);
}

.front-page__dataPlay {
    background-color: var(--color-primary);
}

.card-info__RUX, .card-info__dataPlay{
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.card-info__RUX {
    color: var(--color-text);
}

.card-info__dataPlay {
    color: var(--color-offset);
}

.back-page__RUX, .back-page__dataPlay {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
}

.back-page__RUX {
    color: var(--color-text);
    background-color: var(--color-thirdly);
}

.back-page__dataPlay {
    color: var(--color-offset);
    background-color: var(--color-primary);
}

.card-content{
    text-align: center;
    padding: 23px;
}

.card__img {
    width: 90%;
}

.card__title {
    margin: 0;
    margin-bottom: 44px;
}

.card__p {
    width: 100%;
}

/* fin code de telegram */

.caseStudy__blocs {
    display: flex;
    flex-direction: column;
    gap: 23px;
    margin-bottom: 50px;
}

.button__savoirPlus {
    background-color: var(--color-secondary);
    border-radius: 70px;
    width: fit-content;
    border: none;
    padding: 14px;
    transition: all .3s;
    cursor: pointer;
}

.button__savoirPlus:hover, .button__savoirPlusFiction:hover, .backToTop:hover {
    background-color: var(--color-text);
    color: var(--color-bg);
}

.button__savoirPlusFiction {
    background-color: var(--color-thirdly);
    border-radius: 70px;
    width: fit-content;
    border: none;
    padding: 14px;
    transition: all .3s;
    cursor: pointer;
}

#designFiction {
    flex: 1;
    background-color: var(--color-secondary);
    margin: 0;
    padding: 23px;
    z-index: 5;
}

.designFiction__text {
    margin: 50px 0;
}

/* scss RUX */
.volkhov-regular {
    font-family: "Volkhov", serif;
    font-weight: 400;
    font-style: normal;
}

.volkhov-bold {
    font-family: "Volkhov", serif;
    font-weight: 700;
    font-style: normal;
}

:root{
    --color-bg: #FFF4C8;
    --color-text: #000;
    --color-primary: #005866;
    --color-secondary: #FFB038;
    --color-thirdly: #C6E6F8;
    --color-h3: rgba(0, 0, 0, 0.5);
}

html {
    scroll-behavior: smooth;
}

#avant-propos, #deroulement, #reflexion, #enquete, #analyse, #probleme, #concept, #mise_en_place, #conception, #code{
    padding-top: 90px;
}

.body__cs {
    font-family: "Volkhov", serif;
    background-color: var(--color-bg);
    line-height: 1.5;
    font-weight: 400;
    height: 3500px;
    margin: 0;
    padding: 0;
    font-size: clamp(1rem, 0.247vw + 0.954rem, 1.25rem);
}

.h1__cs {
    font-size: clamp(1.875rem, 3.086vw + 1.296rem, 5rem);
    position: absolute;
    z-index: 20;
    color: var(--color-bg);
    background-color: var(--color-primary);
    left: 0;
    padding: 12px;
    padding-left: 40px;
    border-radius: 0 20px 20px 0;
    font-weight: 700;
    top: 15px;
}

.banniere__cs {
    position: relative;
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    width: 100%;
    top: 50px;
    left: 0;
}

.banniereimg__cs {
    width: 100%;
    margin: 0;
}

.menu__cs {
    position: fixed;
    z-index: 30;
    background-color: var(--color-primary);
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
}

.menu_liste__cs {
    display: flex;
    flex-direction: column;
    background-color: var(--color-primary);
    list-style: none;
    padding: 25px 0;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(100%);
    transition: transform .3s ease-out;
    /* 100% de sa taille à lui donc ici 100% du viewport */
    /* translate, rotate, scale, skew */
    align-items: center;
}

.menu_btn__cs {
    background-color: rgba(0, 88, 102, 0.6);
    font-size: clamp(1rem, 0.247vw + 0.954rem, 1.25rem);
    padding: 0;
    border: none;
    cursor: pointer;
    font-family: "Volkhov", serif;
    font-weight: 400;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
    color: var(--color-bg);
    margin: 5px 0 20px;
}

.menu--open .menu_liste__cs{
    transform: translateX(0);
}

.menu_liste__cs a{
    color: var(--color-bg);
    text-decoration: none;
    padding: 10px;
    transition: all .3s ease-out;
    cursor: pointer;
}

.menu_liste__cs a:hover, .menu_liste__cs a.active {
    color: var(--color-secondary);
    padding: 10px;
}

.menu_li__cs{
    margin: 27px;
}

.rotatable {
    color: #FFF4C8;
    font-size: clamp(1rem, 0.247vw + 0.954rem, 1.25rem);
    padding: 10px;
    transition: all .3s ease-out;
    cursor: pointer;
}

.rotatable:hover {
    color: var(--color-secondary);
    padding: 10px;
}

.rotate {
    display: inline-block;
    transform: rotate(-90deg);
    transform-origin: center;
    transition: transform 0.3s ease;
    margin: 0;
    width: auto;
}

.sous_menu__cs {
    position: fixed;
    z-index: 30;
    background-color: var(--color-primary);
    width: 100%;
    top: 0;
    left: 0;
}

.sous_menu_liste__cs{
    display: flex;
    flex-direction: column;
    background-color: var(--color-primary);
    list-style: none;
    padding: 25px 0;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateY(-110%);
    transition: transform .3s ease-out;
    /* 100% de sa taille à lui donc ici 100% du viewport */
    /* translate, rotate, scale, skew */
    align-items: center;
}

.sous_menu--open .sous_menu_liste__cs{
    transform: translateY(0);
}

.sous_menu_liste__cs a, .retour{
    color: var(--color-bg);
    text-decoration: none;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.sous_menu_li__cs{
    color: var(--color-bg);
    margin: 27px;
}

.retour {
    font-size: clamp(0.938rem, 0.926vw + 0.764rem, 1.875rem);
    color: var(--color-text);
    background-color: var(--color-secondary);
    padding: 10px;
    border-radius: 5px;
    transition: all .3s ease-out;
    cursor: pointer;
}

.retour:hover {
    background-color: var(--color-text);
    color: var(--color-bg);
    padding: 10px;
    border-radius: 5px;
}

.scroll__cs {
    position: absolute;
    z-index: 20;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) scale(0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--color-bg);
    cursor: pointer;
}

.scroll__cs p {
    margin: 10px 0 0;
    padding: 0;
}

.jump {
    animation: jump 2s infinite;
}

@keyframes jump {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-15px); 
    }
    60% {
        transform: translateY(-5px);
    }
}

img{
    width: 80%;
    margin: 0px 10% 30px;
}

.h2__cs {
    font-size: clamp(2.813rem, 0.617vw + 2.697rem, 3.438rem);
    margin: 50px 27px 32px;
}

.h3__cs {
    font-size: clamp(1.875rem, 0.617vw + 1.759rem, 2.5rem);
    margin: 50px 27px 26px;
}

.deroulement {
    margin: 50px 3% 32px;
}

p {
    margin: 0 27px 30px;
}

span {
    margin: 12px 0;
    margin-bottom: 27px;
    width: 80%;
}

/* Footer */
.footer-container__cs {
    background-color: var(--color-primary);
    clip-path: polygon(0% 5%, 100% 0%, 100% 100%, 0% 100%);
    margin: 0;
    padding: 20px;
    height: auto;
}

.section--footer {
    padding-top: 20px;
}

.btt {
    background-color: var(--color-secondary);
    color: var(--color-text);
    display: block;
    justify-self: end;
    cursor: pointer;
    transition: all .3s;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    transform: rotate(-90deg);
    padding: 1px 5px 0 5px;
    border-radius: 100%;
    border: none;
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-right: 23px;
}

.btt:hover, .retourPortfolio:hover, .nextCS:hover {
    background-color: var(--color-text);
    color: var(--color-bg);
}

.retourPage {
    padding: 0 23px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 30px;
    gap: 23px;
}

.retourPortfolio, .nextCS {
    background-color: var(--color-secondary);
    color: var(--color-text);
    padding: 12px;
    border: none;
    border-radius: 5px;
    transition: all .3s;
    font-family: "Volkhov", serif;
    cursor: pointer;
}

.heaj{
    display: block;
    border-radius: 0;
    width: 50px;
    height: max-content;
    padding: 0;
    margin: 20px 0 0;
    justify-self: end;
    align-self: flex-end;
    cursor: pointer;
    transition: all .3s;
}

.heaj:hover {
    filter: brightness(0)
}

.heaj img {
    width: 100%;
}

footer p {
    color: var(--color-bg);
}

/*graphiques*/
.graphiques {
    display: flex;
    flex-direction: column;
}

.graphiques aside {
    display: flex;
    flex-direction: column;
}

.graphiques p {
    margin: 18px 0;
    padding: 0;
}

.graphiques_bg {
    background-color: #C6E6F8;
    border-radius: 20px;
    padding: 10px;
    margin: 27px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.blockbl {
    width: 60px;
    height: 18px;
    flex-shrink: 0;
    border: 1px solid #000;
    background-color: #005866;
    margin: 12px 0;
}

.blockor {
    width: 60px;
    height: 18px;
    flex-shrink: 0;
    border: 1px solid #000;
    background-color: #FFB038;
    margin: 12px 0;
}

.blockja {
    width: 60px;
    height: 18px;
    flex-shrink: 0;
    border: 1px solid #000;
    background-color: #FFF4C8;
    margin: 12px 0;
}

/* Utilisation de copilot pour créer un graphique rond pour représenter les chiffres*/
.pie-chart {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: conic-gradient(
      #FFB038 0% 20.8%,
      #005866 20.8% 91.6%,
      #FFF4C8 91.6% 100%
    );
}

.pie-chart2 {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: conic-gradient(
        #FFB038 0% 77.1%,
        #005866 77.1% 100%
    );
}

.slice {
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: polygon(50% 50%, 100% 0, 100% 100%);
    transform: rotate(calc(var(--offset) * 3.6deg));
    transform-origin: 50% 50%;
}

.slice::before {
content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: polygon(50% 50%, 100% 0, 100% 100%);
    transform: rotate(calc(var(--value) * 3.6deg));
    transform-origin: 50% 50%;
}

.colorable {
    cursor: pointer;
    color: var(--color-text);
}

/* scss dataplay */
.volkhov-regular {
    font-family: "Volkhov", serif;
    font-weight: 400;
    font-style: normal;
}

.volkhov-bold {
    font-family: "Volkhov", serif;
    font-weight: 700;
    font-style: normal;
}

:root{
    --color-bg: #FFF4C8;
    --color-text: #000;
    --color-primary: #005866;
    --color-secondary: #FFB038;
    --color-thirdly: #C6E6F8;
    --color-h3: rgba(0, 0, 0, 0.5);
}

html {
    scroll-behavior: smooth;
}

#contexte, #donnees, #etapes, #enquete, #defis, #bilan{
    padding-top: 90px;
}

.body__cs {
    font-family: "Volkhov", serif;
    background-color: var(--color-bg);
    line-height: 1.5;
    font-weight: 400;
    margin: 0;
    padding: 0;
    font-size: clamp(1rem, 0.247vw + 0.954rem, 1.25rem);
}

.h1__cs {
    font-size: clamp(1.875rem, 3.086vw + 1.296rem, 5rem);
    position: absolute;
    z-index: 20;
    color: var(--color-bg);
    background-color: var(--color-primary);
    left: 0;
    padding: 12px;
    padding-left: 40px;
    border-radius: 0 20px 20px 0;
    font-weight: 700;
    top: 15px;
}

.banniere__cs {
    position: relative;
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    width: 100%;
    top: 50px;
    left: 0;
}

.banniereimg__cs {
    width: 100%;
    margin: 0;
}

.menu__cs {
    position: fixed;
    z-index: 30;
    background-color: var(--color-primary);
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
}

.menu_liste__cs {
    display: flex;
    flex-direction: column;
    background-color: var(--color-primary);
    list-style: none;
    padding: 25px 0;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(100%);
    transition: transform .3s ease-out;
    /* 100% de sa taille à lui donc ici 100% du viewport */
    /* translate, rotate, scale, skew */
    align-items: center;
}

.menu_btn__cs {
    background-color: rgba(0, 88, 102, 0.6);
    font-size: clamp(1rem, 0.247vw + 0.954rem, 1.25rem);
    padding: 0;
    border: none;
    cursor: pointer;
    font-family: "Volkhov", serif;
    font-weight: 400;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
    color: var(--color-bg);
    margin: 5px 0 20px;
}

.menu--open .menu_liste__cs {
    transform: translateX(0);
}

.menu_liste__cs a {
    color: var(--color-bg);
    text-decoration: none;
    padding: 10px;
    transition: all .3s ease-out;
    cursor: pointer;
}

.menu_liste__cs a:hover, .menu_liste__cs a.active {
    color: var(--color-secondary);
    padding: 10px;
}

.menu_li__cs {
    margin: 27px;
}

.rotatable {
    color: #FFF4C8;
    font-size: clamp(1rem, 0.247vw + 0.954rem, 1.25rem);
    padding: 10px;
    transition: all .3s ease-out;
    cursor: pointer;
}

.rotatable:hover {
    color: var(--color-secondary);
    padding: 10px;
}

.rotate {
    display: inline-block;
    transform: rotate(-90deg);
    transform-origin: center;
    transition: transform 0.3s ease;
    margin: 0;
    width: auto;
}

.sous_menu__cs {
    position: fixed;
    z-index: 30;
    background-color: var(--color-primary);
    width: 100%;
    top: 0;
    left: 0;
}

.sous_menu_liste__cs {
    display: flex;
    flex-direction: column;
    background-color: var(--color-primary);
    list-style: none;
    padding: 25px 0;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateY(-110%);
    transition: transform .3s ease-out;
    /* 100% de sa taille à lui donc ici 100% du viewport */
    /* translate, rotate, scale, skew */
    align-items: center;
}

.sous_menu--open .sous_menu_liste__cs{
    transform: translateY(0);
}

.sous_menu_liste__cs a, .retour{
    color: var(--color-bg);
    text-decoration: none;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.sous_menu_li__cs{
    color: var(--color-bg);
    margin: 27px;
}

.retour {
    font-size: clamp(0.938rem, 0.926vw + 0.764rem, 1.875rem);
    color: var(--color-text);
    background-color: var(--color-secondary);
    padding: 10px;
    border-radius: 5px;
    transition: all .3s ease-out;
    cursor: pointer;
}

.retour:hover {
    background-color: var(--color-text);
    color: var(--color-bg);
    padding: 10px;
    border-radius: 5px;
}

.scroll__cs {
    position: absolute;
    z-index: 20;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) scale(0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--color-bg);
    cursor: pointer;
}

.scroll__cs p {
    margin: 10px 0 0;
    padding: 0;
}

.jump {
    animation: jump 2s infinite;
}

@keyframes jump {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-15px); 
    }
    60% {
        transform: translateY(-5px);
    }
}

img {
    width: 80%;
    margin: 0px 10% 30px;
}

.h2__cs {
    font-size: clamp(2.813rem, 0.617vw + 2.697rem, 3.438rem);
    margin: 0px 27px 32px;
}

.h3__cs {
    font-size: clamp(1.875rem, 0.617vw + 1.759rem, 2.5rem);
    margin: 0px 27px 26px;
}

p {
    margin: 0 27px 30px;
}

span {
    display: block;
    margin: 12px 0;
    margin-bottom: 27px;
    width: 100%;
}

/* Footer */
.footer-container__cs {
    background-color: var(--color-primary);
    clip-path: polygon(0% 5%, 100% 0%, 100% 100%, 0% 100%);
    margin: 0;
    padding: 20px;
    height: auto;
}

.section--footer {
    padding-top: 20px;
}

.btt {
    background-color: var(--color-secondary);
    color: var(--color-text);
    display: block;
    justify-self: end;
    cursor: pointer;
    transition: all .3s;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    transform: rotate(-90deg);
    padding: 1px 5px 0 5px;
    border-radius: 100%;
    border: none;
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-right: 23px;
}

.btt:hover, .retourPortfolio:hover, .nextCS:hover {
    background-color: var(--color-text);
    color: var(--color-bg);
}

.retourPage {
    padding: 0 23px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 30px;
    gap: 23px;
}

.retourPortfolio, .nextCS {
    background-color: var(--color-secondary);
    color: var(--color-text);
    padding: 12px;
    border: none;
    border-radius: 5px;
    transition: all .3s;
    font-family: "Volkhov", serif;
    cursor: pointer;
}

.heaj{
    display: block;
    border-radius: 0;
    width: 50px;
    height: max-content;
    padding: 0;
    margin: 20px 0 0;
    justify-self: end;
    align-self: flex-end;
    cursor: pointer;
    transition: all .3s;
}

.heaj:hover {
    filter: brightness(0)
}

.heaj img {
    width: 100%;
}

footer p {
    color: var(--color-bg);
}

/* Défilement images */
.defile{
    height: 150px;
    width: auto;
    border-radius: 0;
    margin: 0 2px 42px;
    padding: 0;
}

.imgdefile{
    display: flex;
    align-items: center;
    overflow: hidden; 
    position: relative;
    z-index: 1;
}

.imgdefile__inner{
    display: flex; 
    animation: imgdefile 25s linear infinite;
    gap: 5px;
}

@keyframes imgdefile { 
    0% {
        transform: translateX( -50%); 
    }
    100% {
        transform: translateX(0%); 
    }
}

ul, ol {
    padding: 28px;
}

.img90 {
    transform: rotateZ(180deg);
}

/* scss design fiction */
.shrikhand-regular {
    font-family: "Shrikhand", serif;
    font-weight: 400;
    font-style: normal;
}

.sriracha-regular {
    font-family: "Sriracha", cursive;
    font-weight: 400;
    font-style: normal;
}

.body__df {
    background-color: #FFF;
    font-family: "Sriracha", cursive;
}

.h1__df {
    font-family: "Shrikhand", serif;
    font-size: clamp(2.625rem, 3.462vw + 1.846rem, 6rem);
    color: var(--color-black);
    letter-spacing: 2px;
    line-height: 120%;
}

.h2__df {
    font-family: "Shrikhand", serif;
    font-size: clamp(2.25rem, 1.795vw + 1.846rem, 4rem);
    color: var(--color-black);
    letter-spacing: 2px;
    line-height: 120%;
}

.h3__df {
    font-family: "Sriracha", cursive;
    font-size: clamp(2rem, 0.513vw + 1.885rem, 2.5rem);
    color: var(--color-black);
}

.h4__df {
    font-family: "Sriracha", cursive;
    font-size: clamp(1.75rem, 0.513vw + 1.635rem, 2.25rem);
}

.menu__li__df, button, .credits{
    font-family: "Sriracha", cursive;
    font-size: clamp(1.75rem, 0.513vw + 1.635rem, 2.25rem);
}

p, label, li{
    font-family: "Sriracha", cursive;
    font-size: clamp(1.125rem, 0.128vw + 1.096rem, 1.25rem);
    color: var(--color-black);
}

.editor, input {
    font-family: "Sriracha", cursive;
    font-size: clamp(0.875rem, 0.256vw + 0.817rem, 1.125rem);
}

html {
    scroll-behavior: smooth;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

:root {
    --color-bg: #F2F6F8;
    --color-primary: #FF8E31;
    --color-secondary: #A1BCD0;
    --color-black: #000;
    --color-thirdly: #30E1FF;
    --color-fourthly: #353535;
}

main {
    margin: 0 23px;
}

span {
    display: block;
    margin: 12px 0;
    margin-bottom: 27px;
}

.menu__df {
    background-color: var(--color-primary);
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    align-items: center;
}

.nav__img__df {
    height: 40px;
    width: 34px;
    margin: 0;
}

.nav__imgA__df {
    height: 40px;
    padding: 15px 0 15px 23px;
    z-index: 20;
}

.menu__ul__df {
    display: flex;
    flex-direction: column;
    background-color: var(--color-primary);
    padding: 0;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 915px;
    height: 100%;
    transform: translateX(1000%);
    transition: transform .3s ease-out;
    align-items: start;
    z-index: 10;
    padding-top: 100px;
    padding-left: 23px;
    gap: 30px;
}

.menu__li__df {
    list-style: none;
}

.menu__li__df a {
    text-decoration: none;
    color: var(--color-black);
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    cursor: pointer;
    transition: all .3s;
    font-size: 20px;
}

.menu__btn {
    background-color: transparent;
    border: none;
    color: var(--color-black);
    font-size: 18px;
    cursor: pointer;
    position: absolute;
    right: 23px;
    padding: 0;
    z-index: 20;
    transition: all .3s;
}

.menu__btn:hover, .menu__li__df a:hover, .lien__site:hover {
    color: var(--color-thirdly);
}

.menu--open .menu__ul__df{
    transform: translateX(0);
}

section {
    margin-top: 50px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.scroll {
    position: absolute;
    z-index: 20;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) scale(0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFF4C8;
    cursor: pointer;
}

.scroll p {
    margin: 10px 0 0;
    padding: 0;
    width: fit-content;
}

.jump {
    animation: jump 2s infinite;
}

@keyframes jump {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-15px); 
    }
    60% {
        transform: translateY(-5px);
    }
}

.section1__df {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.section1__div__df {
    width: 100%;
}

.section1__image__df {
    width: 100%;
}

.section1__p__df {
    position: relative;
    z-index: 5;
    color: var(--color-black);
    margin: 0 23px;
}

select {
    background-color: var(--color-secondary);
    border: none;
    border-radius: 5px;
    padding: 19px 12px;
    width: 100%;
}

.entrerFoyer {
    min-width: fit-content;
}

input {
    background-color: var(--color-secondary);
    border: none;
    border-radius: 5px;
    padding: 12px;
}

.donnees {
    display: flex;
    flex-direction: column;
    gap: 25px;
    opacity: 1;
}

.donnees__div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.rueNumero, .villeCode, .nomPrenom, .paysQuantite {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#rue, #numero {
    width: 92%;
}

.submit {
    transition: all .3s;
    background-color: var(--color-primary);
}

.submit:hover {
    background-color: var(--color-thirdly);
}

.resultatsRemerciement {
    display: none;
}

.div--afficher {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.footer__df {
    margin: 30px 0 0;
    padding: 23px;
    background-color: var(--color-primary);
}

.contact {
    font-family: "Sriracha", cursive;
    font-size: clamp(1.125rem, 0.128vw + 1.096rem, 1.25rem);
    text-decoration: none;
    color: var(--color-black);
    transition: all .3s;
    display: flex;
    align-items: center;
    height: fit-content;
    gap: 10px;
}

.contact:hover {
    color: var(--color-thirdly);
}

.logoHEAJ {
    width: 60px;
    filter: brightness(0);
    transition: all .3s;
}

.logoHEAJ:hover {
    filter: none;
}

.footer__editLogo {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: end;
}

.editor {
    margin: 0;
    color: var(--color-black);
}

.contact__possibles {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.contact__appareil {
    display: flex;
    flex-direction:column;
    align-items: center;
}

.contact__svg {
    width: 60px;
    height: auto;
}

.images__rep {
    width: 100%;
}

.credits__img {
    font-size: 12px;
    margin: 0;
}

header {
    display: grid;
}

.header__img, .header__img__df {
    width: 100%;
    margin: 0;
}

.header__h1 {
    position: absolute;
    z-index: 5;
    color: var(--color-bg);
    margin-left: 14px;
    margin: 59px 0 0 23px;
}

.header__p__df {
    position: absolute;
    z-index: 5;
    padding: 0 0 14px 14px;
    font-size: 12px;
    margin: 0;
    color: var(--color-bg);
    align-self: end;
}

.lien__site {
    color: var(--color-fourthly);
    transition: all .3s;
}

.scroll {
    opacity: 0;
}

.footer__aButton {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.footer__contact, .footer__test, .footer__df {
    background: none;
}

.backToTop {
    transform: rotate(-90deg);
    background-color: var(--color-thirdly);
    border-radius: 50px;
    border: none;
    font-size: 20px;
    text-decoration: none;
    color: var(--color-black);
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.backToTop:hover{
    background-color: var(--color-primary);
}

li::marker {
    margin-left: 0;
    padding-left: 0;
}

ul {
    padding: 0;
}

/* VERSION TABLETTE */
@media (min-width: 780px) {
    p, code {
        width: 440px;
    }

    img {
        width: 60%;
    }

    .dataPlay, .RUX {
        width: 500px;
        align-self: center;
    }

    #caseStudy .h2 {
        margin-top: 150px;
    }

    .separateur1 {
        width: 100%;
    }
}

/* scss RUX */
@media (min-width: 1004px){
    .retourPage {
        flex-direction: row;
    }

    .h1__cs {
        padding: 23px;
        padding-left: 80px;
        top: 160px;
    }

    .menu__cs {
        height: 100px;
        display: flex;
        align-items: center;
    }

    .menu_liste__cs {
        display: flex;
        flex-direction: row;
        align-items: center;
        transform: translateY(0); 
        position: static; 
        height: 100%;  
        padding: 0; 
        background-color: transparent;
        justify-content: space-around;

    } 

    .menu_btn__cs { 
        display: none;
    } 

    .menu_li__cs { 
        flex-direction: row; 
    }

    .menu__cs a {
        font-size: clamp(0.938rem, 0.926vw + 0.764rem, 1.875rem);
    }

    .rotatable {
        font-size: clamp(0.938rem, 0.926vw + 0.764rem, 1.875rem);
    }

    .rotate.rotated {
        transform: rotate(90deg);
    }

    .sous_menu_liste__cs {
        top: 100px;
    }

    .banniere__cs {
        top: 0;
        padding-top: 100px;
    }

    .scroll__cs {
        bottom: 10%;
        transform: translateX(-50%);
    }

    img {
        width: 60%;
        margin: 0px 20% 30px;
    }

    .graphiques {
        flex-direction: row;
        width: 100%;
    }

    .graphiques_bg {
        width: 100%;
    }

    .heaj{
        width: 100px;
    }

    .h2__cs, .h3__cs {
        margin: 50px 60px 30px;
    }

    p {
        margin: 0 60px 30px;
    }

    /* scss dataplay */
    .retourPage {
        flex-direction: row;
    }

    .h1__cs {
        padding: 23px;
        padding-left: 80px;
        top: 160px;
    }

    .menu__cs {
        height: 100px;
        display: flex;
        align-items: center;
    }

    .menu_liste__cs {
        display: flex;
        flex-direction: row;
        align-items: center;
        transform: translateY(0); 
        position: static; 
        height: 100%;  
        padding: 0; 
        background-color: transparent;
        justify-content: space-around;

    } 

    .menu_btn__cs { 
        display: none;
    } 

    .menu_li__cs { 
        flex-direction: row; 
    }

    .menu__cs a {
        font-size: clamp(0.938rem, 0.926vw + 0.764rem, 1.875rem);
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }

    .rotatable {
        font-size: clamp(0.938rem, 0.926vw + 0.764rem, 1.875rem);
    }

    .rotate.rotated {
        transform: rotate(90deg);
    }

    .sous_menu_liste__cs {
        top: 100px;
    }

    .banniere__cs {
        top: 0;
        padding-top: 100px;
    }

    .scroll__cs {
        bottom: 10%;
        transform: translateX(-50%);
    }

    img {
        width: 60%;
        margin: 0px 20% 30px;
    }

    .graphiques {
        flex-direction: row;
        width: 100%;
    }

    .graphiques_bg {
        width: 100%;
    }

    .heaj{
        width: 100px;
    }

    .h2__cs, .h3__cs {
        margin: 50px 60px 30px;
    }

    p {
        margin: 0 60px 30px;
    }
}

/* VERSION PC/DESKTOP */
@media (min-width: 1250px) and (max-width: 1920px) {
    .card {
        width: 486px;
        height: 496px;
    }
    .menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .menu__btn {
        display: none;
    }

    .menuDark {
        display: flex;
        flex-direction: row;
        align-items: center;
        transform: translateY(0);
        position: static;
        height: 100%;
        padding: 0;
        background-color: transparent;
        gap: 40px;
        justify-content: space-between;
    }

    .menu__liste {
        display: flex;
        flex-direction: row;
    }

    .switch {
        display: flex;
        flex-direction: row;
        align-items: center;
        transform: translateX(0);
        width: auto;
        padding: 0;
        margin: 0 23px 0 0;
    }

    .switch__p {
        width: fit-content;
    }

    .orange {
        width: fit-content;
    }

    footer {
        background-size: 100% 100%;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .backToTop {
        margin-top: 100px;
        grid-column: 4 / 5;
        grid-row: 1 / 2;
    }

    .credits {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }

    .separateurs2 {
        background-size: 100% 100%;
        margin-top: -60px;
        grid-column: 1 / 3;
        grid-row: 3 / 4;
    }

    .defiletext {
        transform: rotate(-1deg);
        width: 99.9%;
    }

    .separateurText {
        width: 100%;
    }

    #bonjour {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 0;
        padding: 0;
        position: relative;
        top: -20px;
    }

    .bonjour__img {
        border-radius: 0;
        width: 100%;
        grid-column: 1 / 2;
        grid-row: 1 / 3;
        margin-top: 0;
        justify-self: center;
    }

    .bonjour__h3 {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        height: fit-content;
        align-self: end;
        margin-left: 6%;
    }

    .bonjour__p {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        margin-left: 6%;
        width: 500px;
    }

    #caseStudy .h2 {
        margin-top: 160px;
    }

    .caseStudy__blocs {
        flex-direction: row;
        margin-bottom: 106px;
    }

    .dataPlay, .RUX {
        width: 492px;
        align-self: flex-start;
        height: 100%;
    }

    img {
        width: 100%;
    }

    .dataPlay .button__savoirPlus {
        margin-top: 150px;
    }

    #designFiction {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 1.7fr;
    }
    
    #designFiction img {
        width: 552px;
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        margin-left: 12px;
    }

    #designFiction .h2 {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        height: fit-content;
        margin-top: 0;
        margin-bottom: 78px;
    }

    .designFiction__text {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        margin: 0;
        align-self: start;
        justify-self: end;
        margin-right: 12px;
    }
    .designFiction__text p {
        margin-top: 0;
    }

    /* scss RUX */
    .h1__cs {
        padding: 23px;
        padding-left: 80px;
        top: 160px;
    }

    .h2__cs {
        margin-left: 120px;
    }

    .menu__cs {
        height: 100px;
        display: flex;
        align-items: center;
    }

    .menu_liste__cs {
        display: flex;
        flex-direction: row;
        align-items: center;
        transform: translateY(0); 
        position: static; 
        height: 100%;  
        padding: 0; 
        background-color: transparent;
        justify-content: space-around;

    } 

    .menu_btn__cs { 
        display: none;
    } 

    .menu_li__cs { 
        flex-direction: row; 
    }

    .menu__cs a {
        font-size: 28px;
    }

    .rotatable {
        font-size: 28px;
    }

    .rotate.rotated {
        transform: rotate(90deg);
    }

    .sous_menu_liste__cs {
        top: 100px;
    }

    .banniere__cs {
        top: 0;
        padding-top: 100px;
    }

    .scroll__cs {
        bottom: 18%;
        transform: translateX(-50%);
    }

    .deroulement {
        margin: 208px 120px 0;
    }

    img {
        width: 450px;
        display: block;
        margin: 10px 0 27px;
    }

    .graphiques {
        flex-direction: column;
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        align-items: end;
        gap: 75px;
    }

    .graphiques_bg {
        width: 450px;
        margin: 14px 0;
    }

    span {
        display: block;
        width: auto;
        max-width: 700px;
        margin: 10px 0;
        margin-bottom: 27px;
    }

    .miseEnPage--grid, .miseEnPageCase--grid {
        display: grid;
        grid-template-columns: 0.85fr 1.15fr;
    }

    .miseEnPage__avant-propos--grid {
        display: grid;
        grid-template-columns: 55% 45%;
    }
    
    .miseEnPageCase--grid img {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        margin-left: 120px;
        justify-self: end;
        margin: 0;
    }

    .miseEnPageCase--grid p {
        align-self: center;
        max-width: 700px;
        margin-right: 120px;
        margin: 0;
    }

    .miseEnPage--grid h2, .miseEnPage--grid h3 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        margin-left: 120px;
        justify-self: end;
        margin: 0 0 30px;
    }

    .miseEnPage--grid img {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        justify-self: end;
        margin: 10px 0 27px;
    }

    .miseEnPage--grid p {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        max-width: 700px;
        margin-left: 23px;
    }

    .miseEnPage--grid div {
        display: inline-block;
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .miseEnPageConcept--grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .miseEnPageConcept--grid h3 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        margin: 0 12px 30px;
        justify-self: start;
        margin-left: 40%;
    }

    .miseEnPageConcept--grid p {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        max-width: 500px;
        margin: 0 12px;
        justify-self: start;
        margin-left: 40%;
    }

    .miseEnPageConcept--grid img {
        max-width: 280px;
    }

    .miseEnPageConcept--grid div {
        display: inline-block;
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        justify-self: start;
        margin-left: 12px;
    }

    .miseEnPageConception--grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding-top: 100px;
    }

    .miseEnPageConception--grid img {
        max-width: 250px;
        margin-top: 100px;
    }

    .img--gauche {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
        margin-right: 30px;
        width: fit-content;
        justify-self: end;
    }

    .img--droite {
        grid-column: 3 / 4;
        grid-row: 1 / 3;
        margin-left: 30px;
        width: fit-content;
        justify-self: start;
    }

    .img--droite img, .img--gauche img {
        display: flex;
        flex-direction: column;
        gap: 0;
        margin: 10px 0 27px;
    }

    .miseEnPageConception--grid h3 {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        width: fit-content;
        justify-self: center;
        margin: 0;
    }

    .miseEnPageConception--grid p {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        width: 100%;
        margin: 0 0 30px;
    }

    .heaj{
        width: 100px;
    }

    .miseEnPage__avant-propos--grid h2 {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        justify-self: start;
        margin: 80px 60px 0;
    }

    .miseEnPage__avant-propos--grid p{
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        margin: 0;
        justify-self: start;
        margin-right: 23px;
        background-color: var(--color-bg);
        position: absolute;
        z-index: 2;
        margin-left: 47%;
        margin-top: 25%;
        border-radius: 5px;
        padding: 13px 23px;
    }

    .miseEnPage__avant-propos--grid img {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
        justify-self: end;
        width: 70%;
        margin: 0;
        margin-right: 23px;
        position: relative;
    }

    .miseEnPage__code--grid {
        display: grid;
        grid-template-columns: 55% 45%;
        margin-bottom: 140px;
    }

    .miseEnPage__code--grid h3 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        margin: 0 0 30px 20%;
    }

    .miseEnPage__code--grid img {
        grid-column: 2 / 3;
        grid-row: 1 / 3;
        align-self: center;
    }

    .miseEnPage__code--grid p {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        margin: 0 23px 0 20%;
    }

    /* scss dataplay */
    .h1__cs{
        padding: 23px;
        padding-left: 80px;
        top: 160px;
    }

    .h2__cs{
        margin-left: 120px;
    }

    ul {
        padding: 0 60px;
    }

    ol {
        padding: 0 12px;
    }

    .menu__cs {
        height: 100px;
        display: flex;
        align-items: center;
    }

    .menu_liste__cs {
        display: flex;
        flex-direction: row;
        align-items: center;
        transform: translateY(0); 
        position: static; 
        height: 100%; 
        padding: 0; 
        background-color: transparent;
        justify-content: space-around;
    } 

    .menu_btn__cs { 
        display: none;
    } 

    .menu_li__cs { 
        flex-direction: row; 
    }

    .menu__cs a {
        font-size: 28px;
    }

    .rotatable {
        font-size: 28px;
    }

    .rotate.rotated {
        transform: rotate(90deg);
    }

    .sous_menu_liste__cs {
        top: 100px;
    }

    .banniere__cs {
        top: 0;
        padding-top: 100px;
        margin-bottom: 0;
    }

    .scroll__cs {
        bottom: 18%;
        transform: translateX(-50%);
    }

    img {
        width: 450px;
        display: block;
        margin: 10px 0 27px;
    }

    span {
        display: block;
        width: auto;
        max-width: 600px;
        margin: 10px 0;
        margin-bottom: 27px;
    }

    .miseEnPageCaseData--grid, .miseEnPage__donnees--grid, .miseEnPageEtapes--grid, .miseEnPageDev--grid, .miseEnPageDefis--grid, .miseEnPageBilan--grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    
    .miseEnPageCaseData--grid div {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        margin-left: 120px;
        justify-self: end;
        margin: 0;
        margin-right: 12px;
        display: flex;
        flex-direction: column;
        align-content: end;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .miseEnPageCaseData--grid img {
        width: 70%;
        justify-self: end;
    }

    .miseEnPageCaseData--grid p {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        align-self: center;
        max-width: 700px;
        margin-right: 120px;
        margin: 0;
        margin-left: 12px;
    }

    .miseEnPageCaseData--grid h2 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        justify-self: end;
        margin: 0 12px 30px 0;
    }

    .heaj {
        width: 100px;
    }

    .miseEnPage__donnees--grid h2 {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        justify-self: center;
        margin: 50px 0 30px 0;
    }

    .miseEnPage__donnees--grid img {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        margin-left: 12px;
        justify-self: start;
    }

    .miseEnPage__donnees--grid p {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        margin: 0;
        margin-right: 12px;
        justify-self: end;
    }

    .miseEnPageEtapes--grid img {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        margin-left: 12px;
        justify-self: start;
    }

    .miseEnPageEtapes--grid h3 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        margin-left: 26%;
        justify-self: start;
    }

    .miseEnPageEtapes--grid p {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        justify-self: start;
        margin-left: 26%;
    }

    .miseEnPageDev--grid img {
        grid-column: 2 / 3;
        grid-row: 2 / 5;
        width: 80%;
        margin: 0;
        margin-left: 12px;
    }

    .miseEnPageDev--grid ul, .miseEnPageDefis--grid ol {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        max-width: 600px;
    }

    .miseEnPageDev--grid .p1 {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        margin-bottom: 0;
    }

    .miseEnPageDev--grid .p2 {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
    }

    .miseEnPageDefis--grid h3 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        margin-right: 12px;
        justify-self: end;
    }

    .miseEnPageDefis--grid p {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        justify-self: start;
        margin: 0;
        margin-left: 12px;
    }

    .miseEnPageDefis--grid ol {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }

    .miseEnPageBilan--grid h2 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        justify-self: end;
        margin: 0;
        margin-right: 12px;
    }

    .miseEnPageBilan--grid p {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        justify-self: start;
        margin-bottom: 120px;
    }

    /* scss design fiction */
    .menu__df {
        background-color: var(--color-primary);
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0;
        align-items: center;
    }

    .menu__btn {
        display: none;
    }

    .menu__ul__df {
        display: flex;
        flex-direction: row;
        align-items: center;
        transform: translateY(0);
        position: static;
        height: 100%;
        padding: 0;
        background-color: transparent;
        gap: 80px;
        margin-left: 100px;
    }

    .scroll {
        opacity: 1;
        position: absolute;
        z-index: 20;
        bottom: 16%;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    
    .scroll p {
        margin: 10px 0 0;
        padding: 0;
        color: var(--color-bg);
        background-color: #00000046;
        padding: 5px;
    }
    
    .jump {
        animation: jump 2s infinite;
    }
    
    @keyframes jump {
        0%, 20%, 50%, 80%, 100% {
            transform: translateY(0);
        }
        40% {
            transform: translateY(-15px); 
        }
        60% {
            transform: translateY(-5px);
        }
    }

    .footer__contact {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
    }
    
    p, ul {
        max-width: 600px;
    }

    .section__grid1__df, .section__grid2__df, .section__grid3__df{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .section__grid4__df {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 14%;
    }

    .section__div1__df {
        width: 80%;
        justify-self: start;
        align-self: start;
        grid-column: 2 / 3;
        grid-row: 1 / 3;
        margin-left: 30px;
    }

    .section__grid1__df h2 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        height: fit-content;
        justify-self: end;
        width: fit-content;
        margin: 0 30px 0 0;
    }

    .section__grid1__df p {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        margin-right: 30px;
        justify-self: end;
    }

    .section__div2__df, .section__div4__df {
        width: 80%;
        justify-self: end;
        align-self: center;
        grid-column: 1 / 2;
        grid-row: 1 / 3;
        margin-right: 30px;
    }

    .section__grid2__df h2, .section__grid4__df h2 {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        height: fit-content;
        align-self: flex-start;
        margin: 0 0 0 30px;
    }

    .section__grid2__df p, .section__grid4__df p {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        align-self: start;
        margin: 19px 0 19px 30px;
    }

    .section__grid2__df ul {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }

    .section__div3__df {
        width: 80%;
        justify-self: end;
        align-self: center;
        grid-column: 1 / 2;
        grid-row: 1 / 4;
        margin-right: 30px;
    }

    .section__grid3__df h3 {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        margin: 0;
        margin-left: 30px;
        height: fit-content;
    }

    .section__grid3__df p {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        margin: 0;
        margin-left: 30px;
    }

    .section__grid3__df ul {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
        padding-left: 30px;
    }

    .section__gridSites__df {
        display: grid;
        justify-content: center;
    }

    .section__gridSites__df p {
        justify-self: center;
    }

    .section1__div__df {
        width: 100%;
        justify-self: end;
        align-self: center;
    }

    .section1__df {
        display: grid;
    }

    .section1__image__df {
        width: 100%;
    }

    .section1__p__df {
        position: absolute;
        z-index: 5;
        color: var(--color-black);
        margin: 23px 0 0 23px;
        justify-self: end;
        margin-right: 20%;
        background-color: rgb(255 255 255 / 35%);
        padding: 0 23px;
        border-radius: 5px;
    }

    /*Page test*/
    .rueNumero, .villeCode, .nomPrenom {
        width: 100%;
    }

    .donnees__div {
        width: 100%;
    }

    #rue, #numero {
        width: 97%;
    }

    /*Page contact*/
    .contact__possibles {
        flex-direction: row;
        gap: 0;
    }

    .contact__appareil {
        width: 50%;
    }

    .backToTop {
        margin-bottom: 30px;
    }
    
    .rueNumero, .villeCode, .nomPrenom, .paysQuantite {
        flex-direction: row;
    }
} 
