@import 'utils/variables';
@import 'components/type';


// fonts
.shrikhand-regular {
    font-family: "Shrikhand", serif;
    font-weight: 400;
    font-style: normal;
}

.sriracha-regular {
    font-family: "Sriracha", cursive;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-family: "Shrikhand", serif;
    font-size: clamp(2.625rem, 3.462vw + 1.846rem, 6rem);
    margin: 0;
    line-height: 100%;
}

h2 {
    font-family: "Shrikhand", serif;
    font-size: clamp(2.25rem, 1.795vw + 1.846rem, 4rem);
    border: #DF8600 dashed 2px;
    width: 100%;
    text-align: center;
}

h3 {
    font-family: "Sriracha", cursive;
    font-size: clamp(2rem, 0.513vw + 1.885rem, 2.5rem);
}

h4{
    font-family: "Sriracha", cursive;
    font-size: clamp(1.75rem, 0.513vw + 1.635rem, 2.25rem);
}

p, li, button {
    font-family: "Sriracha", cursive;
    font-size: clamp(1rem, 0.128vw + 0.971rem, 1.125rem);
}

.editor {
    font-family: "Sriracha", cursive;
    font-size: clamp(0.875rem, 0.256vw + 0.817rem, 1.125rem);
    margin: 40px 0 23px;
}

html {
    scroll-behavior: smooth;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#bonjour, #caseStudy, #designFiction {
    padding-top: 70px;
    margin: -70px 23px 0;
}

.bonjour__img {
    margin-top: 70px;
    border-radius: 20px;
}

.bonjour__h3 {
    color: rgba(0, 0, 0, 0.50)
}

.separateurs2 {
    position: absolute;
    background-image: url(../assets/images/separateur2.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 126px;
    z-index: 5;
}
  
// Dark Mode
:root{
    --color-bg: #FFF4C8;
    --color-text: #000;
    --color-primary: #005866;
    --color-secondary: #FFB038;
    --color-thirdly: #C6E6F8;
}

@media (prefers-color-scheme: dark){
    :root{
        --color-bg: #181818;
        --color-offset: #FFF;
        --color-text: #FAFAFA;
        --color-test-offset: #444;
        --color-primary: #7579E7;
        --color-secondary: #4fac3a;
    }  
}

[data-theme="light"]{
    --color-bg: #FFF4C8;
    --color-text: #000;
    --color-primary: #005866;
    --color-secondary: #FFB038;
}
[data-theme="dark"]{
    --color-bg: #181818;
    --color-offset: #FFF;
    --color-text: #FAFAFA;
    --color-test-offset: #444;
    --color-primary: #7579E7;
    --color-secondary: #4fac3a;
}

body{
    line-height: 1.4;
    color: var(--color-text);
    background-color: var(--color-bg);
    margin: 0;
    padding: 0;
}

// nav
.menu {
    display: flex;
    width: 80%;
    background-color: var(--color-primary);
    border-radius: 40px;
    position: fixed;
    z-index: 30;
    height: 70px;
    top: 10px;
    left: 10%;
    align-items: center;
}

.menu a {
    display: flex;
    z-index: 20;
    margin-left: 23px;
}

.menu__img {
    height: 36px;
    width: auto;
    margin: 0;
}

.menu__btn {
    background-color: transparent;
    border: none;
    color: var(--color-bg);
    font-size: 18px;
    cursor: pointer;
    position: absolute;
    right: 23px;
    padding: 0;
    z-index: 20;
}

.menuDark {
    flex-direction: column;
    background-color: #005866;
    list-style: none;
    padding: 0;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(100%);
    transition: transform .3s ease-out;
    align-items: start;
    z-index: 10;
    padding-top: 80px;
}

.menu__liste {
    margin: 0;
}


.switch {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 0;
    align-items: center;
    gap: 10px;
    margin-left: 63px;
}

.menu__li {
    color: var(--color-bg);
    list-style-type: none;
    margin: 54px 0;
}

.menu__a {
    text-decoration: none;
    color: var(--color-bg);
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;

}

.menu--open .menuDark {
    transform: translateX(0);
}
/*
// texte défile//
.defiletext {
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    z-index: 20;
    width: 100%;
}

.defiletext__inner {
    display: flex;
    white-space: nowrap;
    animation: textdefile 10s linear infinite;
    gap: 8px;
}

@keyframes textdefile { 
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}*/


footer {
    background-color: var(--color-secondary);
    background-image: url(../assets/images/footer.png);
    background-repeat: no-repeat;
    width: 100vw;
    height: 376px;
    z-index: 10;
    margin: 0;
    color: var(--color-offset);
}

.footer__elements {
    margin: 0 23px;
}

.contact {
    padding-top: 20px;
}

.sociaux {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: end;
}

.socials {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    gap: 25px;
}

.socials__img {
    width: 25px;
}

// slider

// code repris de https://codepen.io/cortez/pen/jOrNGGQ
// modification pour bon affichage
    
.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #2b2b2b;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

// fin code repris de https://codepen.io/cortez/pen/jOrNGGQ

.switch__p {
    color: var(--color-bg);
}

.banniere {
    position: relative;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    //margin-top: 180px;
}

.banniere__text {
    width: 100%;
    z-index: 5;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.orange {
    background-color: var(--color-secondary);
    padding: 3px;
    width: 80%;
}

#goeiedag {
    position: absolute;
    font-size: clamp(5rem, 12.821vw + 2.115rem, 17.5rem);
    margin: 0;
    padding: 0;
    z-index: 1;
    color: rgba(0, 88, 102, 0.10);
    text-align: center;
}

span {
    display: block;
    margin: 12px 0;
    margin-bottom: 27px;
}

img {
    width: 100%;
}

#caseStudy {
    display: flex;
    flex-direction: column;
    gap: 23px;
}

#caseStudy h2 {
    margin-top: 120px;
}

.RUX {
    background-color: var(--color-thirdly);
    border-radius: 10px;
    padding: 1px 26px 26px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dataPlay {
    background-color: var(--color-primary);
    border-radius: 10px;
    padding: 1px 26px 26px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-offset);
    margin-bottom: 40px;
}

.button__savoirPlus {
    background-color: var(--color-secondary);
    border-radius: 70px;
    width: fit-content;
    border: none;
    padding: 14px;
    transition: all .3s;
    cursor: pointer;
}

.button__savoirPlus:hover {
    background-color: var(--color-text);
    color: var(--color-bg);
}

#designFiction {
    flex: 1;
    background-color: var(--color-secondary);
    margin: 0;
    padding: 23px;
    z-index: 5;
}

.designFiction__text {
    margin: 50px;
}

/* VERSION TABLETTE */
@media (min-width: 780px) {

}

/* VERSION PC/DESKTOP */
@media (min-width: 1250px) and (max-width: 1920px) {
    .menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .menu__btn {
        display: none;
    }

    .menuDark {
        display: flex;
        flex-direction: row;
        align-items: center;
        transform: translateY(0);
        position: static;
        height: 100%;
        padding: 0;
        background-color: transparent;
        gap: 40px;
        justify-content: space-between;
    }

    .menu__liste {
        display: flex;
        flex-direction: row;
    }

    .switch {
        display: flex;
        flex-direction: row;
        align-items: center;
        transform: translateX(0);
        width: auto;
        padding: 0;
        margin: 0 23px 0 0;
    }

    .orange {
        width: fit-content;
    }
}
